@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,700';
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  background: #93191c;
  color: #333333;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
a,
a:visited {
  color: #ec2027;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover, a:focus,
a:visited:hover,
a:visited:focus {
  color: #93191c;
  text-decoration: underline;
}

.toolbar a, .toolbar
a:visited {
  color: #565656;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0 0 0.625rem 0;
}

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: 0;
}

@media (min-width: 45em) {
  h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 54px;
    line-height: 3.375rem;
  }
}

h2 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 27px;
  line-height: 1.6875rem;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 45px;
    line-height: 2.8125rem;
  }
}

h3 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  letter-spacing: .05em;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  h3 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}

h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin: 0 0 1.25rem 0;
}

@media (min-width: 45em) {
  p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}

p.small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
}

@media (min-width: 45em) {
  p.small {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}

.layout-container ol, .layout-container
ul {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}

@media (min-width: 45em) {
  .layout-container ol, .layout-container
  ul {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 27px;
    line-height: 1.6875rem;
  }
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  background: #ccc;
  border: none;
  display: block;
  height: 0.1875rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: 100%;
}

@media (min-width: 45em) {
  hr {
    width: 231.57895%;
  }
}

/**
 * Contain overflow in all browsers.
 */
pre {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  background: #eee;
  border-radius: 2px;
  border: 0;
  border-left: 4px solid #ddd;
  color: #333;
  display: block;
  line-height: 140%;
  margin: 0 0 10.5px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.element-focusable {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.element-focusable:active, .element-focusable:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

#skip-link {
  margin: 0;
}

#skip-link a,
#skip-link a:visited {
  background-color: #666;
  color: #fff;
  display: block;
  padding: 2px 0 3px 0;
  text-align: center;
  width: 100%;
}

.inline {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}

.inline li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.inline li {
  display: inline-block;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.full-width__inner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.full-width__inner:after {
  content: " ";
  display: block;
  clear: both;
}

.full-width__inner:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 71.875em) {
  .full-width__inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.column-half {
  margin-left: 0;
  padding-left: 0;
}

.column-half:after {
  content: "";
  display: table;
  clear: both;
}

.column-half li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.column-half .column {
  margin-bottom: 1.25rem;
}

.column-half .column:nth-child(2) {
  margin-bottom: 0;
}

@media (min-width: 45em) {
  .column-half .column {
    width: 152.63158%;
    float: left;
    margin-right: 5.26316%;
    margin-bottom: 0;
  }
  .column-half .column:nth-child(2) {
    margin-right: 0;
  }
}

.column-half img {
  display: block;
  width: 100%;
}

.full-width-image img {
  width: 100%;
}

body.is-navigation-expanded {
  position: fixed;
}

.layout-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.layout-container:after {
  content: " ";
  display: block;
  clear: both;
}

.layout-container:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 71.875em) {
  .layout-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 45em) {
  .sidebar-first .main-content {
    width: 73.91304%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 45em) {
  .sidebar-first .region-sidebar-first {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 45em) {
  .sidebar-second .main-content {
    width: 73.91304%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 45em) {
  .sidebar-second .region-sidebar-second {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 45em) {
  .two-sidebars .main-content {
    width: 47.82609%;
    float: left;
    margin-left: 26.08696%;
    margin-right: -100%;
  }
}

@media (min-width: 45em) {
  .two-sidebars .region-sidebar-first {
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 45em) {
  .two-sidebars .region-sidebar-second {
    width: 21.73913%;
    float: right;
    margin-right: 0;
  }
}

.block {
  margin-bottom: 1.25rem;
}

h2.block-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 36px;
  line-height: 2.25rem;
  margin-bottom: em(10px);
}

a.btn,
a.btn:visited,
.form-submit {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 20px;
  line-height: 1.25rem;
  background: #ec2027;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  transition: all .3s;
}

a.btn:hover, a.btn:focus,
a.btn:visited:hover,
a.btn:visited:focus,
.form-submit:hover,
.form-submit:focus {
  background: #333333;
  color: #ffffff;
  text-decoration: none;
}

label {
  display: block;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.form-text,
.form-email,
.form-tel,
textarea {
  background: #f6f6f6;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 0.625rem;
  transition: background .3s ease;
}

.form-text:focus,
.form-email:focus,
.form-tel:focus,
textarea:focus {
  background: #ffffff;
}

.form-item {
  margin: 0 0 1.25rem 0;
}

.message {
  display: block;
}

#nav__toggle {
  background-color: red;
  background: url(../images/icons/bars.svg) no-repeat 13px 50%;
  color: #333333;
  cursor: pointer;
  display: block;
  height: 3.125rem;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: none;
  width: 3.125rem;
  z-index: 101;
}

@media (min-width: 45em) {
  #nav__toggle {
    display: none !important;
  }
}

#nav__toggle.is-active {
  background-image: url(../images/icons/close.svg);
  background-position: 16px 50%;
}

#nav__toggle span {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.menu--main {
  background: rgba(255, 255, 255, 0.96);
  height: 100%;
  left: 0;
  margin-bottom: 0;
  opacity: 0;
  overflow: auto;
  padding: 4.375rem 1.25rem 1.25rem 1.25rem;
  position: fixed;
  top: 0;
  transition: all .3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 99;
}

.is-navigation-expanded .menu--main {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 45em) {
  .menu--main {
    width: 73.91304%;
    float: right;
    margin-right: 0;
    background: transparent;
    opacity: 1;
    padding: 0;
    position: static;
    visibility: visible;
  }
}

@media (min-width: 45em) {
  .menu--main {
    padding: 0;
  }
}

.menu--main ul.menu {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  line-height: 1.875rem;
  margin-left: 0;
  padding-left: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 101;
}

.menu--main ul.menu li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 45em) {
  .menu--main ul.menu {
    font-size: 16px;
    font-size: 1rem;
    line-height: 50px;
    line-height: 3.125rem;
    text-align: left;
    float: right;
  }
}

@media (min-width: 63.75em) {
  .menu--main ul.menu {
    font-size: 16px;
    font-size: 1rem;
    line-height: 70px;
    line-height: 4.375rem;
  }
}

@media (min-width: 45em) {
  .menu--main ul.menu li {
    float: left;
    margin-right: 2.1875rem;
    position: relative;
  }
  .menu--main ul.menu li:after {
    background: #333333;
    content: '';
    height: 0.875rem;
    opacity: .25;
    position: absolute;
    right: -1.0625rem;
    top: 1.0625rem;
    width: 0.125rem;
  }
}

@media (min-width: 63.75em) {
  .menu--main ul.menu li:after {
    top: 1.6875rem;
  }
}

.menu--main ul.menu li:last-child {
  margin-right: 0;
}

@media (min-width: 45em) {
  .menu--main ul.menu li:last-child:after {
    display: none;
  }
}

.menu--main ul.menu a,
.menu--main ul.menu a:visited {
  color: #333333;
  display: block;
  padding: 0.375rem 0;
  text-decoration: none;
}

@media (min-width: 45em) {
  .menu--main ul.menu a,
  .menu--main ul.menu a:visited {
    color: #333333;
    padding: 0;
    position: relative;
  }
}

.menu--main ul.menu a:hover, .menu--main ul.menu a:focus,
.menu--main ul.menu a:visited:hover,
.menu--main ul.menu a:visited:focus {
  color: #ec2027;
}

.menu--main ul.menu a.is-active,
.menu--main ul.menu a:visited.is-active {
  color: #ec2027;
}

ul.primary,
ul.secondary {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  white-space: nowrap;
  text-align: left;
}

ul.primary li,
ul.secondary li {
  margin: 0;
  padding: 0;
}

ul.primary {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: em(20px);
}

ul.primary:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.primary {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
  }
}

ul.primary li {
  border-bottom: 1px solid #ccc;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.primary li {
    border-bottom: none;
    display: inline-block;
    margin-right: -5px;
  }
}

ul.primary li:last-child {
  border-bottom: none;
}

ul.primary a,
ul.primary a:visited {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 21px;
  line-height: 1.3125rem;
  display: block;
  font-weight: 500;
  line-height: 100%;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.primary a,
  ul.primary a:visited {
    display: inline-block;
    width: auto;
  }
}

ul.primary a:hover, ul.primary a:focus, ul.primary a.active,
ul.primary a:visited:hover,
ul.primary a:visited:focus,
ul.primary a:visited.active {
  background: #ddd;
  color: #404040;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.primary a:hover, ul.primary a:focus, ul.primary a.active,
  ul.primary a:visited:hover,
  ul.primary a:visited:focus,
  ul.primary a:visited.active {
    background: transparent;
  }
}

ul.primary a.active,
ul.primary a:visited.active {
  background: #ddd;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.primary a.active,
  ul.primary a:visited.active {
    border-top-radius: 3px;
    background: transparent;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
  }
}

ul.secondary {
  padding-bottom: 50px;
}

ul.secondary li {
  display: inline;
  margin-bottom: .5em;
}

@media (min-width: 45em) and (max-width: 63.6875em) {
  ul.secondary li {
    display: inline-block;
  }
}

ul.secondary a,
ul.secondary a:visited {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  background: #f8f7f6;
  background: linear-gradient(#f8f7f6, #e0dfdf);
  border-radius: 3px;
  border-top: 1px solid #fcfbfb;
  border: 1px solid #bfbcba;
  color: #404040;
  display: inline-block;
  font-weight: bold;
  letter-spacing: .04em;
  line-height: 100%;
  margin: 0 auto;
  outline: none;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
}

ul.secondary a:hover, ul.secondary a:focus, ul.secondary a.active,
ul.secondary a:visited:hover,
ul.secondary a:visited:focus,
ul.secondary a:visited.active {
  background: #c5c4c3;
  background: linear-gradient(#c5c4c3, #f8f7f6);
  border-bottom: 1px solid #f2f2f1;
  border-top: 1px solid #7a7978;
  border: 1px solid #bcb9b8;
}

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }
  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }
  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
