// Page
.wrapper {
  @include cf;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
}


// Mobile
@include gs-media(m) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
    }

    .region-sidebar-first {
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-span(m, 1);
    }

    .region-sidebar-second {
      @include gs-span(m, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-span(m, 1);
    }

    .region-sidebar-first {
      @include gs-span(m, 1);
    }

    .region-sidebar-second {
      @include gs-span(m, all); // Clear sidebar and content and span full width
    }
  }
}


// Tablet
@include gs-media(t) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
      @include gs-span(t, 2, 4);
    }

    .region-sidebar-first {
      @include gs-span(t, 1);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-span(t, 1);
    }

    .region-sidebar-second {
      @include gs-span(t, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-span(t, 1);
    }

    .region-sidebar-first {
      @include gs-span(t, 1);
    }

    .region-sidebar-second {
      @include gs-span(t, 1);
    }
  }
}


// Desktop
@include gs-media(d) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
      @include gs-span(d, 3, 8);
    }

    .region-sidebar-first {
      @include gs-span(d, 1, 2);
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-span(d, 1);
    }

    .region-sidebar-second {
      @include gs-span(d, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-span(d, 1);
    }

    .region-sidebar-first {
      @include gs-span(d, 2);
    }

    .region-sidebar-second {
      @include gs-span(d, 3);
    }
  }
}