//
// Susy grid.
//

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12,
  gutters: 1,
  container: 1120px,
  container-position: center,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  )
);
