//
// Helpers.
//

// Element - Invisible.
.element-invisible {
  @include element-invisible;
}

// Element - Focusable.
.element-focusable {
  @include element-focusable;
}

// Skip link.
#skip-link {
  margin: 0;

  // Links.
  a,
  a:visited {
    background-color: #666;
    color: #fff;
    display: block;
    padding: 2px 0 3px 0;
    text-align: center;
    width: 100%;
  }
}

// Region.
.region {
  @include clearfix;
}

// Inline.
.inline {
  @include resetlist;
  display: inline;

  li {
    display: inline-block;
  }
}

// Full width.
.full-width {
  @include full-width;
}

// Full width inner.
.full-width__inner {
  @include container();
  @include wrapper;
}

// Column half width.
.column-half {
  @include clearfix;
  @include resetlist;

  // Column.
  .column {
    margin-bottom: rem(20px);

    // Last.
    &:nth-child(2) {
      margin-bottom: 0;
    }

    // Medium +.
    @include breakpoint($bp-medium-up) {
      @include span(6);
      margin-bottom: 0;

      // Last.
      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }

  // Image.
  img {
    display: block;
    width: 100%;
  }
}

// Full width image.
.full-width-image {

  // Image.
  img {
    width: 100%;
  }
}
