//
// Blocks.
//

// Block.
.block {
  margin-bottom: rem(20px);

  // Remove bottom margin from blocks in specific regions.
  .region-postscript &,
  .region-footer & {
    margin-bottom: 0;
  }
}

// Block title.
h2.block-title {
  @include font-size(24);
  margin-bottom: em(10px);
}
