//
// Forms.
//

// Label.
label {
  display: block;
  font-family: $montserrat;
  margin-bottom: rem(5px);
  text-transform: uppercase;
}

// Remove rounded corners and gradient from form inputs.
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

// Text input.
.form-text,
.form-email,
.form-tel,
textarea {
  background: #f6f6f6;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: rem(10px);
  transition: background .3s ease;

  // Focus.
  &:focus {
    background: $white;
  }
}

// Form item.
.form-item {
  margin: 0 0 rem(20px) 0;
}
