//
// Navigation.
//

#block-system-main-menu {
  margin: 0;
}

// Navigation.
.nav {

  // Toggle.
  &__toggle {
    background: url(../images/icons/bars.svg) no-repeat 13px 50%;
    color: $gray-dark;
    cursor: pointer;
    display: block;
    height: rem(50px);
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: none;
    width: rem(50px);
    z-index: 101;

    // Medium +.
    @include breakpoint($bp-medium-up) {
      display: none !important;
    }

    // Active.
    &.is-active {
      background-image: url(../images/icons/close.svg);
      background-position: 16px 50%;
    }

    // Text.
    span {
      @include element-invisible;
    }
  }

  // Inner.
  &__inner {
    @include container();
  }

  // Menu.
  &__menu {
    background: rgba($white, .96);
    height: 100%;
    left: 0;
    margin-bottom: 0;
    opacity: 0;
    overflow: auto;
    padding: rem(70px) rem(20px) rem(20px) rem(20px);
    position: fixed;
    top: 0;
    transition: all .3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 99;

    // Navigation expanded.
    .is-navigation-expanded & {
      opacity: 1;
      visibility: visible;
    }

    // Medium +.
    @include breakpoint($bp-medium-up) {
      background: $gray-dark;
      height: rem(40px);
      opacity: 1;
      padding: 0;
      position: static;
      visibility: visible;
    }

    // List.
    ul.menu {
      @include font-size(20);
      @include resetlist;
      font-family: $montserrat;
      font-weight: 400;
      position: relative;
      text-align: center;
      z-index: 101;

      // Medium +.
      @include breakpoint($bp-medium-up) {
        @include clearfix;
        line-height: 100%;
        margin: 0;
      }

      // Large +.
      @include breakpoint($bp-large-up) {
      }

      li {

        // Medium +.
        @include breakpoint($bp-medium-up) {
          display: inline-block;
          margin-left: rem(-6px);
          position: relative;
        }

        // Last.
        &:last-child {

          // Links.
          a,
          a:visited {

            // Medium +.
            @include breakpoint($bp-medium-up) {
              border: none;
            }
          }
        }
      }

      // Links.
      a,
      a:visited {
        color: $gray-dark;
        display: block;
        padding: rem(6px) 0;
        text-decoration: none;

        // Medium +.
        @include breakpoint($bp-medium-up) {
          @include font-size(16, 40);
          border-right: 1px solid rgba(255, 255, 255, .2);
          color: $white;
          display: inline-block;
          padding: 0 rem(20px);
          position: relative;
        }

        // Hover and focus.
        &:hover,
        &:focus {
          color: $green;

          // Medium +.
          @include breakpoint($bp-medium-up) {
            background-color: $green;
            border-color: $black;
            color: $white;
          }
        }

        // Active.
        &.is-active {

          // Medium +.
          @include breakpoint($bp-medium-up) {
            background-color: $green;
            border-color: $black;
          }
        }
      }
    }
  }
}
