//
// Tabs
//


// Basic positioning styles shared by primary and secondary tabs.
ul.primary,
ul.secondary {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  white-space: nowrap;
  text-align: left;

  li {
    margin: 0;
    padding: 0;
  }
}


// Primary
ul.primary {
  @include border-radius(3px);
  @include clearfix;

  border: 1px solid #ccc;
  margin-bottom: em(20px);

  @include breakpoint($bp-medium) {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;

    @include border-radius(0);
  }

  li {
    border-bottom: 1px solid #ccc;

    @include breakpoint($bp-medium) {
      border-bottom: none;
      display: inline-block;
      margin-right: -5px;
    }

    &.active {
    }

    &:last-child {
      border-bottom: none;
    }
  }

  a,
  a:visited {
    @include font-size(14);

    display: block;
    font-weight: 500;
    line-height: 100%;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px white;

    @include breakpoint($bp-medium) {
      display: inline-block;
      width: auto;
    }

    &:hover,
    &:focus,
    &.active {
      background: #ddd;
      color: #404040;

      @include breakpoint($bp-medium) {
        background: transparent;
      }
    }

    &.active {
      background: #ddd;

      @include breakpoint($bp-medium) {
        @include border-top-radius(3px);

        background: transparent;
        border: 1px solid #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -2px;
      }
    }
  }
}


// Secondary
ul.secondary {
  padding-bottom: 50px;

  li {
    display: inline;
    margin-bottom: .5em;

    @include breakpoint($bp-medium) {
      display: inline-block;
    }

    &.active {
    }
  }

  a,
  a:visited {
    background: #f8f7f6;
    @include background-image(linear-gradient(#f8f7f6, #e0dfdf));
    @include border-radius(3px);
    @include font-size(16);

    border: 1px solid #bfbcba;
    border-top: 1px solid #fcfbfb;
    color: #404040;
    display: inline-block;
    font-weight: bold;
    letter-spacing: .04em;
    line-height: 100%;
    margin: 0 auto;
    outline: none;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px white;

    &:hover,
    &:focus,
    &.active {
      background: #c5c4c3;
      @include background-image(linear-gradient(#c5c4c3, #f8f7f6));
      
      border: 1px solid #bcb9b8;
      border-bottom: 1px solid #f2f2f1;
      border-top: 1px solid #7a7978;
    }
  }
}
