//
// Colors
//


// Defaults
$black: 					#000;
$white: 					#fff;


// Gray
$gray-233: 				#e9e7e3;
$gray-140: 				#8c8277;
$gray-204: 				#ccc7c1;



// Orange
$orange-227:			#e35624;




// Teal
$teal-0: 					#00414f;
$teal-12: 				#0c6a7e;
$teal-16: 				#10829d;
$teal-25: 				#19a3c9;
$teal-40: 				#285e6a;



/////////

$gray-50: 				#435b5c;
$gray-100: 				#7f8989;
$gray-150: 				#9eaaa9;
$gray-166: 				#a6adad; 
$gray-247: 				#f7f8f8;
