//
// Colors.
//

$black:         #000000;
$gray:          #444444;
$gray-dark:     #222222;
$gray-light:    #dddddd;
$green:         #066c53;
$red:           #ec2027;
$red-dark:      #93191c;
$white:         #ffffff;
