//
// Colors
//


// Defaults
$black: 					#000;
$white: 					#fff;


// Orange
$orange-227:			#e35624;


/////////

$gray-50: 				#435b5c;
$gray-100: 				#7f8989;
$gray-150: 				#9eaaa9;
$gray-166: 				#a6adad; 
$gray-247: 				#f7f8f8;
