//
// Page
//


// HTML + Body
html, 
body {
  margin: 0;
  padding: 0;
}


// HTML
html {
	background: #e9e7e3;
  color: #000;
  font-family: $font-body;
}


// Body
body {
}


// Page
#page {
}


// Inner
.inner {
  @extend %wrapper;
}


// Header
#header {
	background: $teal-40;
	border-bottom: 4px solid $white;

	@include background-image(linear-gradient($teal-0, $teal-40));
}


// Logo wrapper
#header-logo {
	padding-bottom: em(10px);
	padding-top: em(10px);

  @include breakpoint($bp-large, $no-query: true) {   
    @include grid-span(3, 1);
  }
}


// Header region
.region-header {
	padding-top: em(35px);

  @include breakpoint($bp-large, $no-query: true) {   
    @include grid-span(9, 4);
  }
}


// Logo
#logo {
}


// Navigation
.region-navigation {
	clear: both;

	// Block
	.block {
		margin-bottom: 0;
	}
}


// Region - Navigation
.region-navigation {
  @extend %wrapper;
}


// Preface
#preface {
	background: $teal-12;
	padding: em(10px) 0;

	@include background-image(linear-gradient($teal-12 0%, $teal-16 50%, $teal-12 100%));
}


// Region - Preface
.region-preface {
  @extend %wrapper;

  border: 1px solid $white;
  padding: em(10px);
}


// Main
#main {

	// Inner
	.main-inner {
		background: $white;
	  padding-left: em(30px);
	  padding-right: em(30px);
  }
}


// Content
#content {
}


// Sidebar first
.region-sidebar-first {
}


// Sidebar second
.region-sidebar-second {
}


// Footer
#footer {
}
