//
// Page
//


// HTML + Body
html, 
body {
  margin: 0;
  padding: 0;
}


// HTML
html {
  font-family: $font-body;
}


// Body
body {
}


// Page
#page {
}


// Inner
.inner {
  @extend %wrapper;
}


// Header
#header {
}


// Logo wrapper
#header-logo {
}


// Header region
.region-header {
}


// Logo
#logo {
}


// Navigation
.region-navigation {
}


// Region - Navigation
.region-navigation {
}


// Preface
#preface {
}


// Region - Preface
.region-preface {
}


// Main
#main {
}


// Content
#content {
}


// Sidebar first
.region-sidebar-first {
}


// Sidebar second
.region-sidebar-second {
}


// Footer
#footer {
}
