//
// Blocks
//


// Block
.block {
  margin-bottom: em(25px);
}


// Block title
h2.block-title {
	font-size: em(22px);
	margin-bottom: em(15px);
	padding-bottom: em(15px);
}


// Block - Search
#block-search-form {

  @include breakpoint($bp-large, $no-query: true) {   
    float: right;
    width: grid-span(2, 8, (9));
  }

	// Form
	form {
		background: $teal-25;
		border: 1px solid #215a66;
		font-family: $font-header;
		font-size: em(12px);
		padding: em(10px) em(20px);
		position: relative;

		@extend %clearfix;

		@include background-image(linear-gradient(#0c2b32, #17424b));
		@include border-radius(25px);
		@include box-shadow(
			inset 0 3px 6px 0 rgba($black, 0.75),
			inset 0 1px 1px 0 rgba(#215a66, 1)
		);
	}

	.form-item {
		float: left;
		margin: 0;
		width: 100%;
	}

	// Form text
	.form-text {
		background: transparent;
		border: none;
		padding: 0 em(35px) 0 0;

	  &:focus {
	    @include box-shadow(none);
	  }
	}

	// Submit
	.form-submit {
		background: transparent;
		border: none;
		padding: 0;
		position: absolute;
		right: em(10px);

	  @include box-shadow(none);
	}
  
}













// Block - Secondary menu
#block-menu-menu-secondary-menu {
  @include breakpoint($bp-large, $no-query: true) {
  	clear: right;
  	float: right;
		margin-bottom: 0;
		width: grid-span(3, 7, (9));
  }

	// Menu
  ul.menu {
		@include inline-block-list;
		
		font-family: $font-header;
		font-size: em(13px);
		line-height: 100%;
		text-align: right;
		
		// List items
		li {
			border-right: 1px solid $white;
			margin-right: -3px;

			// First
			&.first {
				a,
				a:visited {
					padding-left: 0;
				}
			}

			// Last
			&.last {
				border-right: none;
				margin-right: 0;

				a,
				a:visited {
					padding-right: 0;
				}
			}
		}
  }

	// Links
  a,
  a:visited {
		color: $white;
		display: block;
		padding: 0 em(10px);
  }
}

