//
// Buttons
//


// Default button style
a.button:link,
a.button:visited,
.form-submit {
	border: none;
	color: $white;
	font-weight: $fw-reg;
	line-height: 100%;
	padding: em(15px) em(20px);

	&:hover,
	&:focus,
	&:active {
	}
}


// Submit
.form-submit {
	margin-right: em(10px);
}


