//
// Node
//


// Unpublished
.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  background: transparent;

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


// Node title
h2.node-title {
	margin: 0;

	a:link,
	a:visited {
		text-decoration: none;
	}
}
