//
// Node
//


// Unpublished
.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  background: transparent;

  p.unpublished { /* The word "Unpublished" displayed underneath the content. */
    @include unpublished-div;
  }
}


// Node title
h2.node-title {
	margin: 0;

	a:link,
	a:visited {
		text-decoration: none;
	}
}




// Articles
article {

	// Promoted
	&.node-promoted {

		// Teaser
		&.node-teaser {
			border-bottom: 1px solid #ccc;
			margin-bottom: em(20px);
			padding-bottom: em(20px);

			// Header
			header {
				margin-bottom: em(20px);
			}

			// Image
			.field-name-field-image {
				float: left;
				margin: 0 em(20px) em(20px) 0;
			}

			// Read more
			ul.links {
				float: right;
			}
		}
	}
}