//
// Webform
//


// Webform - Contact us
.webform-client-form {

	// Label
  label {
    padding: em(17px) em(16px);
    position: absolute;
  }

	// Required
  .form-required {
  	color: $gray-150;
  	font-size: em(10px);
  }

  // Message
  #webform-component-message {
    .grippie {
      display: none;
    }
  }
}
